{{!/**
    Axios 接口模板
**/
}}

'use strict';
import fetch from './fetch.json'
axios.baseURL = '{{&path}}'
{{#classes}}

/**
* class {{&className}} Api
*/
{{#methods}}
{{> method}}
{{/methods}}

export default{ 
    {{methodNames}}
}
{{/classes}}

