{{!/**
    Axios 接口模板
**/
}}
/**
* class {{&className}} Api
* @description {{&description}}
*/

import pages from '@/api/pages.js'
import axios from 'axios'

{{#methods}}
{{> method}}
{{/methods}}

export default{ 
  {{methodNames}}
}

