import axios from 'axios'
const __BaseURL = '{{&path}}'

// 创建axios实例
const service = axios.create({
  baseURL: __BaseURL, 
  timeout: 15000     // 请求超时时间
})

// request拦截器
service.interceptors.request.use(config => {
  return config
}, error => {
  // Do something with request error
  console.log(error) // for debug
  Promise.reject(error)
})

// respone拦截器
service.interceptors.response.use(
  response => {
  /**
  * code为非20000是抛错 可结合自己业务进行修改
  */
    if (response.status !== 200) {
      Message({
        message: response.statusText,
        type: 'error',
        duration: 5 * 1000
      })
      return Promise.reject('error')
    }
    return response
  },
  error => {
    console.log('err' + error)// for debug
    Message({
      message: error.message,
      type: 'error',
      duration: 5 * 1000
    })
    return Promise.reject(error)
  }
)

export default service